# Основные зависимости
pillow>=9.0.0
opencv-python>=4.5.0
tkinterdnd2>=0.3.0
numpy<2

# Реализация апскейла
realesrgan

# Если используются запросы (скачивание Python и т.д.)
urllib3

# Для многопоточности, если будет использоваться отдельно
# concurrent.futures — встроен в Python, отдельно не нужен

# Torch устанавливается отдельно в скрипте в зависимости от CUDA,
# но можно указать его для полноты, если кто-то хочет установить вручную:
# torch==2.0.1 ; cpu only
# torch==2.1.0 ; cuda 12
# torchvision==0.16.0
